@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1f2937;
    height: 60px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    height: 460px;
    padding-left: 15%;
    padding-right: 15%;
}

.hero-left {
    padding-right: 60px;
}

.hero-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-section img {
    height: 250px;
    width: 580px;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
}

.signup-btn {
    background-color: #3882F6;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border: none;
    padding: 8px 30px;
    border-radius: 5px;
    margin-top: 15px;
}

.featured-section {
    height: 460px;
    background-color: #fff;
    padding-left: 15%;
    padding-right: 15%;
}

.info-text {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 45px;
    margin-bottom: 45px;
}

.img-info img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: #3882F6 solid 4px;
}

.img-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 46px;
    margin-right: 10px;
}

.gallery {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

.gallery p {
    text-align: center;
    color: #656f7a;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
}

.quote-section {
    height: 420px;
    background-color: #e5e7eb;
    padding-left: 15%;
    padding-right: 15%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    padding-right: 135px;
    padding-left: 135px;
}

.wrapper {
    padding-top: 110px;
    padding-bottom: 110px;
}

.credit {
    font-size: 25px;
    margin-left: 670px;
    font-weight: 700;
}